# Node
node_modules/
npm-debug.log*
yarn-error.log
/dist
/build

# Vite / React
frontend/dist/
frontend/node_modules/

# Backend
backend/node_modules/
backend/dist/

# Python / ML
ml-service/__pycache__/
ml-service/*.pyc
ml-service/.env
ml-service/venv/

# env files & secrets
.env
**/.env
*.env.local
.env.*.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Prisma local DB (if any)
dev.db
